@import '../../utils/styles.scss';


.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .contact-wrapper{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 50px;

        .contact-title{
            font-size: 1.3em;
            font-weight: bold;
        }

        .other-platform{
            width: 40%;
            opacity: 0;
            animation: slide-down 1s forwards;
            .platform-list{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .single-platform{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .logo-container{
                        background-color: white;
                        width: 50px;
                        height: 50px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;


                        img{
                            width: 45px;
                        }
                    }
                    .name{
                        color: gray;
                    }
                }
            }
        }

        .divider{
            display: none;
            width: 2px;
            height: 200px;
            background-color: rgba(128, 128, 128, 0.336);
        }

        .form-section{
            display: none;
            width: 60%;
             animation: slide-up 1s forwards;
            .form{
                margin-top: 20px;
                input, textarea{
                    width: 70%;
                    background-color: rgba(255, 255, 255, 0.829);
                    margin-bottom: 10px;
                    padding: 10px;
                    font-family: inherit;
                    font-size: 0.9em;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                    box-sizing: border-box;
                    color: black;
                }
                textarea{
                    height: 70px;
                }

                .submit{
                    padding: 12px;
                    color: white;
                    background-color: $primary-color;
                    border-radius: 10px;
                    width: 70%;
                    text-align: center;
                    cursor: pointer;
                    box-sizing: border-box;
                    
                }
                

                .input:focus, textarea:focus{
                    border: 1ps solid white;
                    outline: none;
                }
            }
        }
    }
    
}

@keyframes slide-down {
    0% {
      opacity: 0; 
      transform: translateY(-70%); 
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    0% {
      opacity: 0; 
      transform: translateY(70%); 
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @media screen and (max-width:$mobile-breakpoint) {
    .contact-container .contact-wrapper{
        flex-direction: column-reverse;
        margin-bottom: 50px;
        width: 100%;
        .other-platform{
            width: 100%;
        }

        .divider{
            height: 2px;
            width: 200px;
            margin: auto;
        }

        .form-section{
            width: 100%;
            .form{
                input, textarea{
                    width: 100%;
                }
                .submit{
                    width: 100%;
                }
            }
           
        }
    }
  }