@import '../../utils/styles.scss';

.footer-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    

    footer{
        width: 260px;
        padding: 15px 20px;
        position: fixed;
        bottom: 20px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        opacity: 0;
        justify-content: space-between;
        background: url('/public/walpapper.jpeg') no-repeat center;
        background-size: cover;
        animation: animate-footer 0.5s ease-in-out forwards;
        animation-delay: 2s;
        


        .img-container{
            transition: transform 0.3s ease;
            img{
                width: 45px;
                cursor: pointer;
            }
        }
        .img-container:hover{
            transform: translateY(-10px);
        }
    }
}

@keyframes animate-footer {
    from{
      bottom: -10px;
    }
    to{
      bottom: 20px;
      opacity: 1;
    }
}